<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

<servlet>

<servlet-name>InsertProduct</servlet-name>

<servlet-class>src.InsertProduct</servlet-class>

</servlet>

<servlet>

<servlet-name>AllProducts</servlet-name>

<servlet-class>src.AllProducts</servlet-class>

</servlet>



<servlet-mapping>

<servlet-name>InsertProduct</servlet-name>

<url-pattern>/InsertProduct</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>AllProducts</servlet-name>

<url-pattern>/AllProducts</url-pattern>

</servlet-mapping>




</web-app>